!!!
%html{ lang: "pt-BR" }
  %head
    %meta{ charset: "utf-8" }/
    %meta{ content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible" }/
    %title Eloquent Studio — #{ current_page.data.title }
    = partial :meta_share
    %meta{ content: "width=device-width", name: "viewport" }/
    = favicon_tag "apple-touch-icon.png"
    = stylesheet_link_tag "application"
  %body.layout.js-layout
    /[if lt IE 10]
      <p class="outdated-browser">Você está usando um navegador desatualizado. <a href="http://browsehappy.com/">Atualize seu navegador hoje</a> ou <a href="http://www.google.com/chromeframe/?redirect=true">instale o Google Chrome Frame</a> para melhor experienciar este site.</p>
    = yield
    %script{ src: "//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" }
    :javascript
      window.jQuery || document.write('<script src="js/vendor/jquery-1.8.0.min.js"><\/script>')
    - current_page.data.append_js.each do |js_file|
      = javascript_include_tag js_file
    - end if current_page.data.append_js
    = javascript_include_tag "main"
    :javascript
      var _gaq=[['_setAccount','UA-72489955-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
