<% wrap_layout :base do %>
  <div class="layout__wrapper js-layout__wrapper">
    <%= partial :header %>
    <%= partial :hero %>
    <main class="layout__main">
      <%= yield %>
    </main>
    <%= partial :footer %>
  </div>
  <aside class="layout__aside">
    <%= partial :aside %>
  </aside>
<% end %>
