= wrap_layout :base do
  .layout__wrapper.js-layout__wrapper
    = partial :header
    .layout__main-wrapper
      %main.layout__main
        = yield
        = partial :footer
  %aside.layout__aside= partial :aside
