.client-summary
  .client-summary__content
    %h3.client-summary__name= client.name
    %p.client-summary__pitch= client.pitch
    %span.client-summary__role= client.role
    %blockquote.client-summary__quote-wrapper
      .client-summary__quote-author-avatar-wrapper
        = image_tag client.author_avatar, class: "client-summary__quote-author-avatar", title: client.author_name, alt: client.author_name
      .client-summary__quote-content-wrapper
        %p.client-summary__quote-content “#{client.quote}”
        %span.client-summary__quote-author= client.author_name
        %span.client-summary__quote-author-role= client.author_role
  .client-summary__product-image-wrapper
    = image_tag client.product_image, class: "img-responsive", title: client.name, alt: client.name
