<div class="client-summary">
  <div class="client-summary__content">
    <h3 class="client-summary__name">
      <%= client.name %>
    </h3>
    <p class="client-summary__pitch">
      <%= client.pitch %>
    </p>
    <span class="client-summary__role">
      <%= client.role %>
    </span>
    <blockquote class="client-summary__quote-wrapper">
      <img class="client-summary__quote-author-avatar" src="img/<%= client.author_avatar %>" alt="<%= client.author_name %>" title="<%= client.author_name %>">
      <div class="client-summary__quote-content-wrapper">
        <p class="client-summary__quote-content">
          “<%= client.quote %>”
        </p>
        <span class="client-summary__quote-author">
          <%= client.author_name %>
        </span>
        <span class="client-summary__quote-author-role">
          <%= client.author_role %>
        </span>
      </div>
    </blockquote>
  </div>
  <div class="client-summary__product-image-wrapper">
    <img class="img-responsive" src="img/<%= client.product_image %>" alt="<%= client.name %>" title="<%= client.name %>">
  </div>
</div>
