%li.services-summary-list__item
  .service-summary{ class: "service-summary--#{service_summary.type}" }
    %h3.service-summary__title= service_summary.title
    %p.service-summary__description= service_summary.summary_description
    = link_to service_summary.call_to_action_text, "/services.html##{service_summary.type}", class: "service-summary__call-to-action"
