<section class="footer container-fluid">
	<div class="row">
		<ul class="footer-nav col-sm-2 col-sm-push-1">
          <li><%= link_to 'Home', '/index.html' %></li>
          <li><%= link_to 'Valores', '/valores.html' %></li>
          <li><%= link_to 'O que fazemos', '/o-que-fazemos.html' %></li>
          <li><%= link_to 'Como trabalhamos', '/como-trabalhamos.html' %></li>
          <li><%= link_to 'Contato', '/contato.html' %></li>
		</ul>
		<ul class="sn col-sm-2 pull-right">
			  <li><a class="facebook" href="#">Facebook</a></li>
			  <li><a class="twitter" href="#">Twitter</a></li>
			  <li><a class="github" href="#">Github</a></li>
		</ul>
	</div>
</section>

<%= javascript_include_tag "jquery", "bootstrap.min", "all" %>