  <nav class="navbar navbar-default navbar-static-top " role="navigation" id="site">
  <div class="navbar-container">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Eloquent Studio</a>
      </div>

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'Valores', '/index.html' %></li>
          <li><%= link_to 'O que fazemos', '/o-que-fazemos' %></li>
          <li><%= link_to 'Como trabalhamos', '/como-trabalhamos' %></li>
          <li><%= link_to 'Contato', '/contato' %></li>
          <li><%= link_to 'Feed', '/feed' %></li>
        </ul>
      </div>
    </div>
  </div>
</nav>