---
title: Home
layout: hero
primary_navigation: true
weight: 1
---

- home = data.home
- cases = data.home.cases
- services_buttons = data.home.buttons

%section.section
  %h2.section__header.section__header--padding= t :'home.services'
  .section__body
    %ul.services-summary-list= partial "home/service_summary", collection: data.services.items

  .service
    .service__call-to-actions
    = link_to t('home.buttons.get_in_touch'), "/contact.html", class: "service__call-to-action-action service__call-to-action"

#cases
  - trustvox = cases.trustvox
  %section.section{ id: trustvox.id }
    %h2.section__header.section__header--padding= t :'cases.headers.case'
    .service{ class: "service-summary--#{trustvox.id}" }
      %h2.service__title= t trustvox.title
      .service__content-wrapper
        .service__content
          .service__description
            %p.service__description-content= t trustvox.main_description
            %video.service__description-video{ src: trustvox.video.url, poster: trustvox.video.poster, autoplay: true, controls: true, loop: true }
          .service__description-and-quote-wrapper
            .service__description-and-quote-description
              .service__description
                %h3.service__description-title= t trustvox.service.title
                %p.service__description-content= t trustvox.service.description
            .service__description-and-quote-quote
              %blockquote.quote
                %span.quote__content= t trustvox.quote.content
                %cite.quote__author= trustvox.quote.author

  - bewiser = cases.bewiser
  %section.section{ id: bewiser.id }
    %h2.section__header.section__header--padding= t :'cases.headers.case'
    .service{ class: "service-summary--#{bewiser.id}" }
      %h2.service__title= t bewiser.title
      .service__content-wrapper
        .service__content
          .service__description
            %p.service__description-content= t bewiser.main_description
            .service__description-mosaic
              - bewiser.images_mosaic.each do |image|
                = image_tag image, class: 'service__description-mosaic-image'
          .service__description-wrapper
            .service__description
              %h3.service__description-title= t bewiser.service.title
              %p.service__description-content= t bewiser.service.description

  - salesim = cases.salesim
  %section.section{ id: salesim.id }
    %h2.section__header.section__header--padding= t :'cases.headers.case'
    .service{ class: "service-summary--#{salesim.id}" }
      %h2.service__title= t salesim.title
      .service__content-wrapper
        .service__content
          .service__description
            %p.service__description-content= t salesim.main_description
            %video.service__description-video{ src: salesim.video.url, poster: salesim.video.poster, autoplay: true, controls: true, loop: true }
          .service__description-and-quote-wrapper
            .service__description-and-quote-description
              .service__description
                %h3.service__description-title= t salesim.partners.title
                %p.service__description-content= t salesim.partners.description
            .service__description-and-quote-quote
              %blockquote.quote
                %span.quote__content= t salesim.quote.content
                %cite.quote__author= t salesim.quote.author
          .service__description-wrapper
            .service__description-mosaic
              - t(salesim.partners.images_mosaic).each do |image|
                = image_tag image, class: 'service__description-mosaic-image'
          .service__description-wrapper
            .service__description
              %h3.service__description-title= t salesim.service.title
              %p.service__description-content= t salesim.service.description

  - fullprofile = cases.fullprofile
  %section.section{ id: fullprofile.id }
    %h2.section__header.section__header--padding= home.cases_header
    .service{ class: "service-summary--#{fullprofile.id}" }
      %h2.service__title= fullprofile.title
      .service__content-wrapper
        .service__content
          .service__description
            %p.service__description-content= fullprofile.main_description
          .service__description-wrapper
            .service__description
              %p.service__description-content= fullprofile.partners.description
          .service__description-wrapper
            .service__description
              %h3.service__description-title= fullprofile.service.title
              %p.service__description-content= fullprofile.service.description

      .service__call-to-actions
        = link_to services_buttons.get_in_touch, "/contact.html", class: "service__call-to-action-action service__call-to-action service__call-to-action--contact"
