<section class="footer container-fluid">
  <div class="row">
    <ul class="footer-nav col-sm-2 col-sm-push-1">
      <li><%= link_to "Home", nil %></li>
      <li><%= link_to "O que fazemos?", nil %></li>
      <li><%= link_to "Como trabalhamos?", nil %></li>
      <li><%= link_to "Contato", nil %></li>
    </ul>
    <ul class="sn col-sm-2 pull-right">
      <li><%= link_to "Facebook", nil, class: 'facebook' %></li>
      <li><%= link_to "Twitter", nil, class: 'twitter' %></li>
      <li><%= link_to "Github", nil, class: 'github' %></li>
    </ul>
  </div>
</section>
