---
title: Contato
layout: layout
primary_navigation: true
weight: 5
append_js:
  - https://maps.googleapis.com/maps/api/js
---

- contact = data.contact

%section.contact-section
  %h3.contact-section__title= contact.title
  .contact-section__form
    - form = contact.form
    %form.contact-form{ method: :post, action: "http://formspree.io/#{form.send_to}" }
      %input{ type: :hidden, name: :_next, value: "http://geteloquent.com/#{form.thank_you_page}" }
      %input{ type: :hidden, name: :_subject, value: form.subject }
      %input{ type: :hidden, name: :_gotcha, style: "display: none" }
      %input.contact-form__input{ name: :full_name, type: :text, placeholder: form.name.placeholder }
      %input.contact-form__input{ name: :email, type: :email, placeholder: form.email.placeholder }
      %textarea.contact-form__input{ name: :message, placeholder: form.message.placeholder, rows: 5 }
      %button.contact-form__submit{ type: :submit }= form.submit

%section.contact-section
  %ul.contact-locations-list
    - locations = contact.locations
    - locations.each do |location|
      %li.contact-locations-list__item
        .contact-location.js-contact-location{ data: { lat: location.position.lat, lng: location.position.lng } }
          %span.contact-location__name= location.name

          .contact-location__info
            %span.contact-location__icon.contact-location__icon--top.fa.fa-map-marker
            .contact-location__address
              %span.contact-location__address-street= location.address.street
              %span.contact-location__address-neighborhood= location.address.neighborhood
              %span.contact-location__address-city= location.address.city

          .contact-location__info
            %span.contact-location__icon.fa.fa-phone
            %span.contact-location__phone= location.phone

          .contact-location__info
            %span.contact-location__icon.fa.fa-envelope
            %span.contact-location__email= location.email

%section.contact-section.contact-section--map.js-contact-location-map
