---
title: Valores
layout: layout
primary_navigation: false
weight: 2
---

- core_values = data.core_values
- committed = core_values.committed
- agile = core_values.agile
- charming = core_values.charming
- creative = core_values.creative
- team = core_values.team
- quote = core_values.quote

.committed-grid
  .committed-grid__left
  .committed-grid__right
    .committed-grid__top
      .core-value.core-value--committed
        %h2.core-value__title= committed.title
        %p.core-value__description= committed.description
    .committed-grid__bottom

.core-value.core-value--agile
  %h2.core-value__title= agile.title
  %p.core-value__description= agile.description

.core-values-row
  .core-values-row__cell.core-value-image.core-value-image--quote-01
  .core-values-row__cell.core-value-image.core-value-image--quote-02
  .core-values-row__cell.core-values-row__cell--wrap
    %blockquote.quote
      %span.quote__content= quote.content
      %cite.quote__author= quote.author

.core-values-row
  .core-values-row__cell.core-value-image.core-value-image--charming-01
  .core-values-row__cell.core-value-image.core-value-image--charming-02
  .core-values-row__cell.core-values-row__cell--wrap
    .core-value.core-value--charming
      %h2.core-value__title= charming.title
      %p.core-value__description= charming.description

.core-values-row
  .core-values-row__cell.core-value-image.core-value-image--creative-01
  .core-values-row__cell.core-value-image.core-value-image--creative-02
  .core-values-row__cell.core-values-row__cell--wrap
    .core-value.core-value--creative
      %h2.core-value__title= creative.title
      %p.core-value__description= creative.description

.core-value.core-value--team
  %h2.core-value__title= team.title
  %p.core-value__description= team.description
