---
title: Home
layout: hero
primary_navigation: true
weight: 1
---

- home = data.home
- cases = data.home.cases
- services_buttons = data.home.buttons

%section.section
  %h2.section__header.section__header--padding= home.services
  .section__body
    %ul.services-summary-list= partial "home/service_summary", collection: data.services.items

- trustvox = cases.trustvox
%section.section{ id: trustvox.id }
  %h2.section__header.section__header--padding= home.cases_header
  .service{ class: "service-summary--#{trustvox.id}" }
    %h2.service__title= trustvox.title
    .service__content-wrapper
      .service__content
        .service__description
          %p.service__description-content= trustvox.main_description
          %video.service__description-video{ src: trustvox.video.url, poster: trustvox.video.poster, autoplay: true, controls: true, loop: true }
        .service__description-and-quote-wrapper
          .service__description-and-quote-description
            .service__description
              %h3.service__description-title= trustvox.service.title
              %p.service__description-content= trustvox.service.description
          .service__description-and-quote-quote
            %blockquote.quote
              %span.quote__content= trustvox.quote.content
              %cite.quote__author= trustvox.quote.author

- bewiser = cases.bewiser
%section.section{ id: bewiser.id }
  %h2.section__header.section__header--padding= home.cases_header
  .service{ class: "service-summary--#{bewiser.id}" }
    %h2.service__title= bewiser.title
    .service__content-wrapper
      .service__content
        .service__description
          %p.service__description-content= bewiser.main_description
          .service__description-mosaic
            - bewiser.images_mosaic.each do |image|
              = image_tag image, class: 'service__description-mosaic-image'
        .service__description-wrapper
          .service__description
            %h3.service__description-title= bewiser.service.title
            %p.service__description-content= bewiser.service.description

    .service__call-to-actions
      = link_to services_buttons.how_we_work, "/process.html", class: "service__call-to-action-action service__call-to-action service__call-to-action--process"
      = link_to services_buttons.get_in_touch, "/contact.html", class: "service__call-to-action-action service__call-to-action"
