---
title: Home
layout: hero
primary_navigation: true
weight: 1
---

<% home = data.home %>

<section class="section">
  <h2 class="section__header section__header--padding"><%= home.services %></h2>
  <div class="section__body">
    <ul class="services-summary-list">
      <%= partial "home/service_summary", collection: data.services.items %>
    </ul>
  </div>
</section>

<section class="section">
  <h2 class="section__header section__header--padding"><%= home.clients %></h2>
  <div class="section__body">
    <% clients_carousel_id = "clients-carousel" %>
    <% clients = data.client_summary_items.clients %>
    <% active_index = 0 %>

    <div class="carousel slide" id="<%= clients_carousel_id %>" data-ride="carousel">
      <ol class="carousel-indicators">
        <% clients.size.times do |i| %>
          <%= content_tag :li, nil, class: (i == active_index ? "active" : ""), data: { target: "##{clients_carousel_id}", slide: { to: i } } %>
        <% end %>
      </ol>

      <div class="carousel-inner" role="listbox">
        <% clients.each_with_index do |client, i| %>
          <div class="<%= (i == active_index ? "item active" : "item") %>">
            <%= partial "home/client_summary", locals: { client: client } %>
          </div>
        <% end %>
      </div>

      <a class="left carousel-control" href="#<%= clients_carousel_id %>" role="button" data-slide="prev">
        <span class="sr-only"><%= home.carousel.previous %></span>
      </a>
      <a class="right carousel-control" href="#<%= clients_carousel_id %>" role="button" data-slide="next">
        <span class="sr-only"><%= home.carousel.next %></span>
      </a>
    </div>
  </div>
</section>
