<div class="container-fluid service-page">
  <section class="services row">
    <div class="col-sm-12">
      <h2 class="section-title col-sm-11 col-sm-push-1">O que fazemos?</h2>
      <ul>
        <li class="col-sm-4 service-dds">
          <h2 class="service-title"><strong>Desgin</strong> e <strong>Desenvolvimento</strong> para <strong>Startups</strong></h2>
          <p>
            Nós transformamos sua visão em produtos excepcionais, utilizando práticas e processos enxutos.
          </p>
          <%= link_to "Descubra mais", "#", class: 'btn btn-info' %>
        </li>
        <li class="col-sm-4 service-enterprise">
          <h2 class="service-title"><strong>Agilidade</strong> em grandes <strong>empresas</strong></h2>
          <p>
            Seja mais competitivo através da melhoria de processos de desenvolvimento.
          </p>
          <%= link_to "Descubra mais", "#", class: 'btn btn-info' %>
        </li>
        <li class="col-sm-4 service-redu">
          <h2 class="service-title">Implantação do <strong>Redu</strong></h2>
          <p>
            Ambiente motivador para cursos a distância
          </p>
          <%= link_to "Descubra mais", "#", class: 'btn btn-info' %>
        </li>
      </ul>
    </div>
  </section>
  <section class="service-section row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="service-icon service-enterprise text-center">Design e desenvolvimento para startups</h1>
          <h3>Processos enxutos</h3>
          <p>Um conceito que é importante para startups é o de aprendizado validado. Startups são organizações que precisam construir modelos de negócios replicáveis e escaláveis dentro de condições de extrema incerteza. Neste contexto é importante qu e os empreendedores sejam capazes de perceber, numa escala pequena, se o modelo proposto é realmente escalável. Uma forma de adquirir este aprendizado é através de métricas. <strong>Antes mesmo de construir</strong> determinada funcionalidade do produto, é importante que sejam definidas métricas tangíveis do objetivo daquela funcionalidade.Nós iremos ajudar a você a definir <em>este conjunto de métricas</em>. <em><strong>Todas as funcionalidades</strong></em> criadas pelo nosso time são construídas e entregues juntamente com um painel de suporte onde você poderá acompanhar o progresso do seu produto. </p>
        </div>

        <div class="col-md-8">
          <h3>Processos enxutos</h3>
          <p>Um conceito que é importante para startups é o de aprendizado validado. Startups são organizações que precisam <%= link_to "meu link perdido", nil %> construir modelos de negócios replicáveis e escaláveis dentro de condições de extrema incerteza. Neste contexto é importante qu e os empreendedores sejam capazes de perceber, numa escala pequena, se o modelo proposto é realmente escalável. Uma forma de adquirir este aprendizado é através de métricas. Antes mesmo de construir determinada funcionalidade do produto, é importante que sejam definidas métricas tangíveis do objetivo daquela funcionalidade.Nós iremos ajudar a você a definir este conjunto de métricas. Todas as funcionalidades criadas pelo nosso time são construídas e entregues juntamente com um painel de suporte onde você poderá acompanhar o progresso do seu produto. </p>
        </div>
        <blockquote class="col-md-4">
          <p>
            We are entering an era  where the dominant question that innovators are facing isn’t “can something be built” but “should it be built”.
          </p>
          <span class="author">Eric Ries</span>
        </blockquote>
      </div>

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center call-to-action">
          <%= link_to "Como trabalhamos", nil, class: 'btn btn-primary' %>
          <%= link_to "Entre em contato conosco", nil, class: 'btn btn-info' %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 ruler text-center clients-portfolio">
        <h2 class="section-title">Clientes</h2>
        <img src="img/client_03.png" alt="">
        <img src="img/client_04.png" alt="">
        <img src="img/client_05.png" alt="">
      </div>
    </div>
  </section>

  <section class="service-section odd row">
    <div class="col-sm-10 col-sm-offset-1 text-center">
      <h1 class="service-icon service-enterprise">Agilidade em grandes empresas</h1>
      <p class="lead">Já possui uma empresa bem estabelecida e gostaria de acelerar o desenvolvimento de um novo produto? Traga a cultura de startups e desenvolvimento ágil para dentro da sua equipe. Dentro de uma empresa grande com estrutura e hierarquia bem definidas pode ser difícil criar novos produtos. Nós podemos fazer parte da sua equipe e trazer a velocidade de startups para dentro do seu negócio.
      </p>
    </div>

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center call-to-action">
        <%= link_to "Como trabalhamos", nil, class: 'btn btn-primary' %>
        <%= link_to "Entre em contato conosco", nil, class: 'btn btn-info' %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 ruler text-center clients-portfolio">
        <h2 class="section-title">Clientes</h2>
        <img src="img/client_04.png" alt="">
      </div>
    </div>
  </section>

  <section class="service-section row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="service-icon service-startup text-center">Implantação do Redu</h1>
          <h3>Processos enxutos</h3>
          <p>Um conceito que é importante para startups é o de aprendizado validado. Startups são organizações que precisam construir modelos de negócios replicáveis e escaláveis dentro de condições de extrema incerteza. Neste contexto é importante qu e os empreendedores sejam capazes de perceber, numa escala pequena, se o modelo proposto é realmente escalável. Uma forma de adquirir este aprendizado é através de métricas. <strong>Antes mesmo de construir</strong> determinada funcionalidade do produto, é importante que sejam definidas métricas tangíveis do objetivo daquela funcionalidade.Nós iremos ajudar a você a definir <em>este conjunto de métricas</em>. <em><strong>Todas as funcionalidades</strong></em> criadas pelo nosso time são construídas e entregues juntamente com um painel de suporte onde você poderá acompanhar o progresso do seu produto. </p>
        </div>

        <div class="col-md-8">
          <h3>Processos enxutos</h3>
          <p>Um conceito que é importante para startups é o de aprendizado validado. Startups são organizações que precisam <%= link_to "meu link perdido", nil %> construir modelos de negócios replicáveis e escaláveis dentro de condições de extrema incerteza. Neste contexto é importante qu e os empreendedores sejam capazes de perceber, numa escala pequena, se o modelo proposto é realmente escalável. Uma forma de adquirir este aprendizado é através de métricas. Antes mesmo de construir determinada funcionalidade do produto, é importante que sejam definidas métricas tangíveis do objetivo daquela funcionalidade.Nós iremos ajudar a você a definir este conjunto de métricas. Todas as funcionalidades criadas pelo nosso time são construídas e entregues juntamente com um painel de suporte onde você poderá acompanhar o progresso do seu produto. </p>
        </div>
        <blockquote class="col-md-4">
          <p>
            We are entering an era  where the dominant question that innovators are facing isn’t “can something be built” but “should it be built”.
          </p>
          <span class="author">Eric Ries</span>
        </blockquote>
      </div>

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center call-to-action">
          <%= link_to "Como trabalhamos", nil, class: 'btn btn-primary' %>
          <%= link_to "Entre em contato conosco", nil, class: 'btn btn-info' %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 ruler text-center clients-portfolio">
        <h2 class="section-title">Clientes</h2>
        <img src="img/client_03.png" alt="">
        <img src="img/client_04.png" alt="">
        <img src="img/client_05.png" alt="">
      </div>
    </div>
  </section>
</div>
