---
title: Como trabalhamos
layout: layout
primary_navigation: true
weight: 4
---

- process = data.process

.process-hero
  %h2.process-hero__title= process.hero

%section.section
  .process-intro
    %h2.process-intro__title= process.intro.title
    %p.process-intro__content= process.intro.content

%section.section
  %h2.process-intro__title= process.methodology.name
  .process-intro__content
    .methodology-steps__wrapper
      %ol.methodology-steps
        - process.methodology.steps.each_with_index do |step, i|
          %li.methodology-steps__item
            .methodology-steps__background
            - isOpenClass = i == 0 ? "is-open" : ""

            .methodology-step.js-methodology-step{ class: isOpenClass }
              - id = slugify(step.name)

              = link_to "##{id}", class: "methodology-step__link methodology-step__link--step-#{i + 1}", data: { toggle: :collapse } do
                %h3.methodology-step__name= step.name
                %span.methodology-step__caret.fa.fa-angle-down

              - collapseInClass = i == 0 ? "in" : ""

              .methodology-step__content-wrapper.collapse.js-methodology-step__content-wrapper{ id: id, class: collapseInClass }
                .methodology-step__content= step.content
                %ul.methodology-step__outputs
                  - step.outputs.each do |output|
                    %li.methodology-step__outputs-item
                      %span.methodology-step__outputs-icon-wrapper
                        %span.methodology-step__outputs-icon{ class: "methodology-step__outputs-icon--#{output.icon}" }
                        .methodology-step__outputs-content-wrapper
                          %span.methodology-step__outputs-name= output.name
                          %span.methodology-step__outputs-content= output.content
      .methodology-iteration Iteração

.process-footer
  - quote = process.quote

  %blockquote.quote.quote--inverse
    %span.quote__content= quote.content
    %cite.quote__author= quote.author
