---
title: O que fazemos
layout: layout
primary_navigation: true
weight: 3
---

- services = data.services.items

%section.section.section--sparce.services-summary-list-wrapper
  %ul.services-summary-list
    - services.each do |service|
      %li.services-summary-list__item
        .service-summary{ class: "service-summary--#{service.type}" }
          %h4.service__title.service-summary__title= service.title
          = link_to "Descubra mais", "##{service.type}", class: "service__call-to-action js-smooth-scrolling"

- services.each_with_index do |service, service_index|
  %section.section{ id: service.type }
    .service{ class: "service-summary--#{service.type}" }
      %h2.service__title= service.title
      .service__content-wrapper
        .service__content
          - descriptions = service.descriptions

          - if descriptions.size == 1
            .service__description
              %p.service__description-content.service__description-content--highlight= descriptions.first.content
          - else
            - descriptions.each_with_index do |description, description_index|
              - if description_index == descriptions.size - 1
                .service__description-and-quote-wrapper
                  .service__description-and-quote-description
                    .service__description
                      %h3.service__description-title= description.title
                      %p.service__description-content= description.content
                  .service__description-and-quote-quote
                    %blockquote.quote
                      %span.quote__content= service.quote.content
                      %cite.quote__author= service.quote.author
              - else
                .service__description
                  %h3.service__description-title= description.title
                  %p.service__description-content= description.content

        .service__indicator
          %ol.indicators.indicators--vertical
            - services.each_with_index do |service, service_indicator_index|
              %li.indicators__item{ class: (service_indicator_index == service_index ? "is-active" : "") }

      .service__call-to-actions
        = link_to "Como trabalhamos", "/process.html", class: "service__call-to-action-action service__call-to-action service__call-to-action--process"
        = link_to "Entre em contato conosco", "/contact.html", class: "service__call-to-action-action service__call-to-action"

      .service__clients
        .service__clients-title.section__header Clientes
        %ul.service__clients-list
          - clients = service.clients

          - clients.each do |client|
            %li
              = link_to client.link do
                = image_tag client.logo_file_name, alt: client.name, title: client.name
