---
title: O que fazemos
layout: layout
primary_navigation: true
weight: 3
---

- services = data.service_summary_items.services

%section.section.services-summary-list-wrapper
  %ul.services-summary-list
    - services.each do |service|
      %li.services-summary-list__item
        .service-summary{ class: "service-summary--#{service.type}" }
          %h3.service__title.service-summary__title= service.title
          = link_to 'Descubra mais', "##{service.type}", class: "service__call-to-action js-smooth-scrolling"

- services.each do |service|
  %section.section{ id: service.type }
    .service.service-summary{ class: "service-summary--#{service.type}" }
      %h2.service__title.service-summary__title= service.title
      - descriptions = service.descriptions

      - if descriptions.size == 1
        .service__description
          %p.service__description-content= descriptions.first.content
      - else
        - descriptions.each do |description|
          .service__description
            %h3.service__description-title= description.title
            %p.service__description-content= description.content
